{% extends 'monitoring/base.html' %}
{% block content %}
<div class="row opensans-font justify-content-md-center mt-5">
    <div class="col-4">
        <table class="table table-striped table-bordered universal">
            <thead>
                <tr>
                    <td>Наименования</td>
                    <td>Действия</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a>Договор.docx</a></td>
                    <td>
                      <img src="/static/monitoring/images/Vector11.png" style="margin-left: 49px;" alt="...">
                      <img src="/static/monitoring/images/carbon_view-filled.png"  alt="...">
                      <img src="/static/monitoring/images/Group.png"  alt="...">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}