{% extends 'monitoring/base.html' %}

{% block content %}
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-3" class="col-md-8 mx-auto">
      </div>
    <div class="col-3" class="col-md-8 mx-auto">
    <div class="ref" style="height:200px;">
      <img src="/static/monitoring/images/a1.png" style="margin: 21px 104px;" alt="...">
      <p>Помещения</p>
    </div>
    </div>
    <div class="col-3" class="col-md-8 mx-auto">
      <div class="ref" style="height:200px;">
        <img src="/static/monitoring/images/aa2.png" style="margin: 21px 104px;" alt="...">
        <p>Установленные устройства</p>
      </div>
      </div>
      <div class="col-3" class="col-md-8 mx-auto">
      </div>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br>
  {% endblock content %}

  